/*---------------------------
	Fonts
----------------------------*/

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../../../fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../../../fonts/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Google Sans Flex';
  src: url('../../../fonts/GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.ttf') format('truetype');
  font-weight: 100 1000; /* Variable font weight range */
  font-stretch: 75% 125%; /* Variable font stretch range */
  font-style: oblique 0deg 10deg; /* Variable font slant range */
  font-display: swap;
}

// fonts
$base-font-size: 15;
$base-font: 'Google Sans Flex', sans-serif;
$heading-font: 'JetBrains Mono';



// color
$dark-gray: #090909;
$dark-gray2: #000E28;
$body-color: #919195;
$white: #fff;
$light: #919195;
$black: #000;
$small-black: #333;
$cyan: #323232;

$theme-primary-color: #78c7fc;
$theme-primary-color-s2: #B88888;
$body-bg-color: #090909;
$card-bg-color: #101010;
$text-color: #676767;
$text-color2: #EDB9B8;
$text-light-color: #676767;
$heading-color: $dark-gray;
$border-color: #202020;
$border-color-s2: #d8e0f1;
